<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">

            <div class="col-sm-12 col-md-7 col-lg-7 parte1"> 
                <h2>Pag Web Psicología con Turnero</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa explicabo nemo,  enim itaque libero. </p>
                
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3  offset-md-1 offset-lg-1 parte2"><img src="../../../assets/psicologia.png"></div>

            <div> 
                <h2>Pag Web Senderos del Silencio</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  enim itaque libero. </p>
            </div>
            <div><img src="../../../assets/senderos.png"></div>

    </div>

</div>
