.row{
    padding: 40px;
    background-color: #c9c9c9;
}
.contenedor{
    width:auto;
}
.parte1, .parte2{
    padding: 20px;
    display:inline-block;
    text-align: justify;
}
.img-proyecto{
    padding: 20px;
    box-shadow: 10px 10px 30px #000000;
    box-shadow: ejeX ejeY difumasion color;
}
.row, h1{
    box-shadow: 10px 10px 30px #f8f6f6;
    box-shadow: ejeX ejeY difumasion color;
    text-align: center;
}