.row{
    padding: 40px;
}
div{
    background-color: #c9c9c9;
    text-align: center;
    
}
h1{
    text-align: center;
    box-shadow: 10px 10px 30px #f8f6f6;
    box-shadow: ejeX ejeY difumasion color;
}
p{
    text-align: center;
    box-shadow: 10px 10px 30px #f8f6f6;
    box-shadow: ejeX ejeY difumasion color;
}
/*Estilo de la foto de perfil*/
@media(min-width:576px){
    #foto_de_perfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left:1%;
        top: 550px;
    }
}
    @media(max-width:576px){
        #foto_de_perfil{
            position:absolute;
            width: 30%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left:1%;
            top: 630px;
    }
}

/*etiqueta nombre */
#nombre{
    font-weight: bold;
    margin-top: 20%;
}


