.row{
    padding: 40px;
}
div{
    background-color: #c9c9c9;
    text-align: center;
    
}
h1{
    text-align: left;
    box-shadow: 10px 10px 30px #9A616D;
    box-shadow: ejeX ejeY difumasion color;
}
p{
    text-align: center;
    box-shadow: 10px 10px 30px #9A616D;
    box-shadow: ejeX ejeY difumasion color;
}
/*Estilo de la foto de perfil*/
@media(min-width:575px){
    #foto_de_perfil{
        position:CENTER;
        width: 40%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #9A616D;
        left:5%;
        top: 550px;
    }
}
    @media(max-width:575px){
        #foto_de_perfil{
            position:CENTER;
            width: 45%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px #9A616D;
            left:33%;
            top: 950px;
    }
}

/*etiqueta nombre */
#nombre{
    font-weight: bold;
    margin-top: 20%;
}


