.row{
    background: #9A616D;
}

footer{
    color:rgb(216, 215, 215);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px -2px 5px #999; 
}
