<div class="row"> 
    <h1 class="titlehys">Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20"
        [radius]="100"
        [showUnits]="false"
        [title]="'JS'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'GitHub'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'English'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'Angular'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'otro'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]="'Team work'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'otro'"
        [titleColor]="'violet'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="26"
        [innerStrokeWidth]="9"
        [outerStrokeColor]="'#c9c9c9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
</div>

